<div class="event">
  <h2>TEDxName 2016</h2>
  <p class="info"><span>23 September</span>  &bull;  <span>Venue Name</span></p>

  <p class="tagline">Tagline and theme descriptor in full sentence</p>

  <a class="button">LEARN MORE</a>
  <a class="button primary">PURCHASE TICKETS</a>
</div>

<div class="sponsors">
  <p>with support from our sponsors and partners</p>

  <a href=""><img src="" alt="SPONSOR"></a>
  <a href=""><img src="" alt="SPONSOR"></a>
  <a href=""><img src="" alt="SPONSOR"></a>
  <a href=""><img src="" alt="SPONSOR"></a>
  <a href=""><img src="" alt="SPONSOR"></a>
</div>