/**
 * Columns
 * v1.0
 */



// Column
// An element that is in a row with other elements.
// It'll have a horizontal gap between the elements ($gutter-width).
// It can have a margin-bottom ($gutter-height).
@mixin column($cols: 2, $gutter-width: $gutter-comfy, $gutter-height: $gutter-comfy, $float-dir: left) {
  $col-width: calc( (100% - #{$gutter-width} * (#{$cols} - 1)) / #{$cols});

  $last-col: $cols + "n";
  $first-col: $last-col + " - " + ($cols - 1);

  // float: $float-dir;
  width: $col-width;
  margin-left: $gutter-width / 2;
  margin-right: $gutter-width / 2;

  &:nth-child(n + #{$cols + 1}) {
    margin-top: $gutter-height;
  }

  &:nth-child(#{$first-col}) {
    margin-left: 0;
    clear: $float-dir;
  }
  &:nth-child(#{$last-col}) {
    margin-right: 0;
  }
}


@mixin cols-2-3-4-6 {
  // @include group; // Needed because children are floated.
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 0 1 auto; // 1 1 0;
  }

  li + li {
    margin-top: 0;
  }

  & > li,
  & > * {
    margin-left: 0;
    margin-right: 0;
  }
}
@mixin cols-2($gutter-width: $gutter-comfy, $gutter-height: $gutter-comfy) {
  @include cols-2-3-4-6;

  & > li,
  & > * {
    @media all and (max-width: $w-regular) {
      &:nth-child(n + 2) {
        margin-top: $gutter-height;
      }
    }
    @media all and (min-width: $w-regular) {
      @include column(2, $gutter-width, $gutter-height);
    }
  }
}
@mixin cols-3($gutter-width: $gutter-comfy, $gutter-height: $gutter-comfy) {
  display: grid;
  grid-gap: calc(20px + 3vw);
  
  @media all and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@mixin cols-4($gutter-width: $gutter-comfy, $gutter-height: $gutter-comfy) {
  @include cols-2-3-4-6;

  & > li,
  & > * {
    @media all and (max-width: $w-narrow) {
      &:nth-child(n + 2) {
        margin-top: $gutter-height;
      }
    }
    @media all and (min-width: $w-narrow) and (max-width: $w-regular) {
      @include column(2, $gutter-width, $gutter-height);
    }
    @media all and (min-width: $w-regular) {
      @include column(4, $gutter-width, $gutter-height);
    }
  }
}
@mixin cols-6($gutter-width: $gutter-comfy, $gutter-height: $gutter-comfy) {
  display: grid;
  grid-gap: calc(10px + 1vw);
  grid-template-columns: repeat(auto-fit, minmax(calc(110px + 5vw), 1fr));
}

.cols-2 {
  @include cols-2;
}
.cols-3 {
  @include cols-3;
}
.cols-4 {
  @include cols-4;
}
.cols-6 {
  @include cols-6;
}
