// Fields displayed inline 
.field-label-inline {
  line-height: 1.2;
  display: table-row;

  // First one
  &:first-child > *,
  :not(.field-label-inline) + & > * {
    padding-top: 1em;
  }
  // All except first
  & + .field-label-inline > * {
    padding-top: 0.5em;
  }
  // First element that follows last one
  & + .field:not(.field-label-inline) {
    margin-top: 1em;
  }

  div {
    display: inline;
  }
  & > *,
  & > div {
    float: none;
    // display: inline;
    display: table-cell;
    padding-right: 1.2em;
  }
  .field_item {
    &:not(:last-child)::after {
      content: ",";
    }
  }
}



/* -----------------------------------------------------------------------------
                                                Specific fields
*/
.field_label {
  font-weight: 600;
}
.field-name-field-image,
.views-field-field-image {
  img {}
}
.field-type-entity-reference {}

.field.field-type-string.field_item {
  max-width: 40em;
  overflow: hidden;
  word-wrap: break-word;
}