/**
 * @file Variables
 */



/* -----------------------------------------------------------------------------
                                                Global variables
*/
// Used in page width functions
$w-narrow:                480px; /* 30em @ 16px font size */
$w-regular:               960px; /* 60em @ 16px font size */
$w-wide:                  1280px; /* 80em @ 16px font size */

$page_max_width:          1600px; // 1200px;
$text-max-width:          40rem;

$page-h-padding:          3em;

// The height of the navigation container.
$nav-height:              92px;

// The amount lists, blockquotes and comments are indented.
$indent-amount:           30px;

$gutter-narrow:           1.5%;
$gutter-comfy:            2.8%;
$gutter-wide:             5.5%;
$gutter-site:             7%;

$corner_radius-large:     0.3em;
$corner_radius-small:     0.15em;

$transition-duration-regular:   0.4s;

// Elements

$text-field-padding:      0.3em 0.5em; /* used by table cells and text fields */

$pointable-size:          2.5rem; /* height or width */

$pointable-padding:       0.6em 0.8em;
$pointable-line-height:   1.3em; /* Assuming font-size: 1rem; */

$primary-menu-breakpoint: 1100px;

$lpage-v-padding:         calc(40px + 5vw);



/* -----------------------------------------------------------------------------
                                                Typography
*/
$font-size:               1em;
$base-font-size:          $font-size;
$line-height:             1.4;

$heading-size-adjust:     1 * $font-size;

$font-size-h1:            2.6  * $heading-size-adjust;
$font-size-h2:            1.9  * $heading-size-adjust;
$font-size-h3:            1.4  * $heading-size-adjust;
$font-size-h4:            1.25 * $heading-size-adjust;
$font-size-h5:            1.1  * $heading-size-adjust;
$font-size-h6:            1.0  * $heading-size-adjust;

$line-height-h1:          1;
$line-height-h2:          1.15;
$line-height-h3:          1.3;
$line-height-h4:          1.38;
$line-height-h5:          0.45;
$line-height-h6:          0.5;

$pointable-font-weight:   600;

@import url("https://fonts.googleapis.com/css?family=Open+sans:300,400,400i,600,700");

$font-open-sans:      'Open Sans', sans-serif;
$font-courier:        'Courier New', monospace, sans-serif;
$font-Raleway:        'Raleway', sans-serif;


$font-body:               $font-open-sans;
$base-font-family:        $font-body; // The font family set on the html element.
$font-headings:           $font-body;
$font-paragraphs:         $font-body;
$font-sub-headings:       $font-body;
$font-monospace:          $font-courier;



/* -----------------------------------------------------------------------------
                                                Colours
*/
// Definitions

$colour-near-black:       #292929;
$colour-grey:             #494949;
$colour-light-grey:       #E9E9E9;
$colour-dark-grey:        #333;
$colour-blue:             #178FB0;
$colour-earth-green:      #797B65;
$colour-light-brown:      #F2EFEA;

$colour-red:              #D12D17; // TED red

/* Social media */
$colour-twitter:          #00aced;
$colour-facebook:         #3b5998;
$colour-google:           #dd4b39;
$colour-linkedin:         #007bb6;
$colour-youtube:          #bb0000;
$colour-instagram:        #125688;


// Assignments

$colour-primary:          $colour-red;
$colour-secondary:        $colour-grey;
// $colour-tertiary:         ;

$colour-bg-body:          white;
$tabs-container-bg:       white;
$colour-dividers:         $colour-light-grey;
$colour-footer:           $colour-dark-grey;

$colour-text:             $colour-grey;
$colour-paragraphs:       $colour-text;
$colour-links:            $colour-red;
$colour-menu-links:       $colour-near-black;

$colour-on-dark-text:     darken(white, 5%);
$colour-on-light-text:    black;

$colour-highlight:        $colour-red; // for 'focussed' form elements
$colour-field-bg:         rgba(black, 0.08);
